@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  @apply bg-zinc-900
}
* > *{
  font-family: 'Titillium Web', sans-serif;
  color: #fafafa;

}
*:hover{
  transition: 0.3s;
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.input-text {
  @apply mt-1 block w-60 px-3 py-2  border border-backgroundPruple rounded-full text-sm shadow-sm placeholder-slate-500 outline outline-offset-2 outline-backgroundPruple outline-none;
  @apply focus:outline-none focus:border-backgroundPruple focus:ring-1 focus:ring-fuchsia-400 ;
}

.input-text{
  background-color: #09090b;
border: none ;
}
.spline-container {
  width: 600px;
  height: 600px;
}
.changing-text {
  display: inline-block;
  opacity: 0;
  filter: blur(4px);
  animation: fade-in 0.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
  transition: color 0.5s ease-in-out;
}

@keyframes fade-in {
  100% {
    opacity: 1;
    filter: blur(0);
  }
}

.changing-text:hover {
  color: pink; /* Change to the desired color */
}
.loader{
  @apply border-gray-200 rounded-full border-4 ease-linear h-10 w-10;
  border-top-color: #363ce0;
  animation: spinner 1.2s linear infinite;
}

@keyframes spinner{
  0% { transform: rotate(0deg);}
  100% { transform: rotate(360deg);}
}